<h1><%=@task.title%></h1>

<% if @task.completed == false%>
  <h2><i class="far fa-square"></i>     This task is not completed yet!</h2>
  <% else %>
  <h2><i class="far fa-check-square"></i> Congrats! The task is completed! </h2>
<% end %>

<h2><%= @task.details%></h2>

<%= link_to("Back", "/tasks") %>